
.App-header {
  

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: rgb(2, 35, 37);
}
.user{
  width: 250px;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 25px;
  margin-bottom: 20px;
  
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(106, 170, 230, 0.247);
  width: 500px;
}
